{% extends "base.html" %}
{% block title %}Rental Cars{% endblock title %}

{% block body %}

<div class="card text-bg-light mb-3" align= "center" style="margin: 20px 5px 0 5px;">
  <div class="card-header">Search for Rental Cars</div>
  <div class="card-body">
    <h5 class="card-title">The Best Car Deals in Islamabad</h5>
    <p class="card-text">Islamabad Unravelled provides rent a car service in Islamabad with a well trained and licensed driver. The drivers can also act as a guide since they are natives of the city and are a good resource
       for a foreigner who wants to see around but isn't familiar with the roads.</p>
  </div>
</div>

<div class="detail-card card shadow-sm my-3 text-reset tablescraper-selected-row " style="margin: 0 5px;">
  <div class="row align-items-center p-2 px-lg-4 px-3">
    <div class="col-lg-3">
      <img class="img-fluid" src="https://storage.googleapis.com/bookmepk/static/images/carRental/carDetails/NHx6WbxtQwYwT2jqjDmzt6pIj5sx5t424ObgzrXH.png" alt="">
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-600 mb-0"> 1. Suzuki Wagon R </h5>
        <h5 class="font-weight-600 mb-0 text-muted"> Economy </h5>
      </div>
      <p class="mb-0"> VXR </p>
      <div class="row align-items-center my-3">
        <div class="col-lg-7 col-md-12">
          <div class="row g-3 align-items-center">
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xDAHhzcsLTbnBRF06DOGrkLo5tr98a5Z9K03BzmM.png" alt="Doors" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/XmJC3fGkQ3877cqUUstdQfZ0mPON1BQ69kDNBhEr.png" alt="Large Bag" width="22" height="22">
              <span> 2 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/eGH9w39AAgwUO1Z561u5qDOFphMw9IiaHiSsEj2A.png" alt="Passengers" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/iYWHfFsqLpHPHa3trPMV3LN7j96mA7KVW1XQM5ds.png" alt="Transmission" width="22" height="22">
              <span> Auto</span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xQULhX92dEdsU3ZOyVRyj4rZPXIvlF44aIREDZ1t.png" alt="AC" width="22" height="22">
              <span> AC </span>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-6">
    </div>
    <hr class="d-block d-md-none mt-3">
    <div class="col-lg-6 text-end d-flex justify-content-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3">Rs 3,500/<span class="fs-6">1 day(s)</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button>    
    </div>
  </div>
 </div>
</div>

<div class="detail-card card shadow-sm my-3 text-reset tablescraper-selected-row" style="margin: 0 5px;">
  <div class="row align-items-center p-2 px-lg-4 px-3">
    <div class="col-lg-3">
      <img class="img-fluid" src="https://storage.googleapis.com/bookmepk/static/images/carRental/carDetails/vRQpGoBbOzyMmvJFywj77ph0XMAhdUKCPeCjrRKv.png" alt="">
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-600 mb-0">2. Suzuki Wagon R </h5>
        <h5 class="font-weight-600 mb-0 text-muted"> Economy </h5>
      </div>
      <p class="mb-0"> VXL </p>
      <div class="row align-items-center my-3">
        <div class="col-lg-7 col-md-12">
          <div class="row g-3 align-items-center">
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xDAHhzcsLTbnBRF06DOGrkLo5tr98a5Z9K03BzmM.png" alt="Doors" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/XmJC3fGkQ3877cqUUstdQfZ0mPON1BQ69kDNBhEr.png" alt="Large Bag" width="22" height="22">
              <span> 1 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/eGH9w39AAgwUO1Z561u5qDOFphMw9IiaHiSsEj2A.png" alt="Passengers" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/iYWHfFsqLpHPHa3trPMV3LN7j96mA7KVW1XQM5ds.png" alt="Transmission" width="22" height="22">
              <span> Auto</span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xQULhX92dEdsU3ZOyVRyj4rZPXIvlF44aIREDZ1t.png" alt="AC" width="22" height="22">
              <span> AC </span>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-6">
    </div>
    <hr class="d-block d-md-none mt-3">
    <div class="col-lg-6 text-end d-flex justify-content-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3">Rs 3,750/<span class="fs-6">1 day(s)</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button> 
    </div>
  </div>
 </div>
</div>

<div class="detail-card card shadow-sm my-3 text-reset tablescraper-selected-row" style="margin: 0 5px;">
  <div class="row align-items-center p-2 px-lg-4 px-3">
    <div class="col-lg-3">
      <img class="img-fluid" src="https://storage.googleapis.com/bookmepk/static/images/carRental/carDetails/4Nv11oHbdNyVTfWEG1k0SIiq3vvyQq8o2SPMxqsk.png" alt="">
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-600 mb-0">3. Honda City </h5>
        <h5 class="font-weight-600 mb-0 text-muted"> Standard </h5>
      </div>
      <p class="mb-0"> V1.3 i-VTEC Prosmatec </p>
      <div class="row align-items-center my-3">
        <div class="col-lg-7 col-md-12">
          <div class="row g-3 align-items-center">
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xDAHhzcsLTbnBRF06DOGrkLo5tr98a5Z9K03BzmM.png" alt="Doors" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/XmJC3fGkQ3877cqUUstdQfZ0mPON1BQ69kDNBhEr.png" alt="Large Bag" width="22" height="22">
              <span> 3 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/eGH9w39AAgwUO1Z561u5qDOFphMw9IiaHiSsEj2A.png" alt="Passengers" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/iYWHfFsqLpHPHa3trPMV3LN7j96mA7KVW1XQM5ds.png" alt="Transmission" width="22" height="22">
              <span> Auto</span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xQULhX92dEdsU3ZOyVRyj4rZPXIvlF44aIREDZ1t.png" alt="AC" width="22" height="22">
              <span> AC </span>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-6">
    </div>
    <hr class="d-block d-md-none mt-3">
    <div class="col-lg-6 text-end d-flex justify-content-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3">Rs 4,500/<span class="fs-6">1 day(s)</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button> 
    </div>
  </div>
 </div>
</div>

<div class="detail-card card shadow-sm my-3 text-reset tablescraper-selected-row" style="margin: 0 5px;">
  <div class="row align-items-center p-2 px-lg-4 px-3">
    <div class="col-lg-3">
      <img class="img-fluid" src="https://storage.googleapis.com/bookmepk/static/images/carRental/carDetails/sQfhy7N5Nhm2R6O3SxcDdCKOoZauQnXRpDKsbMHg.png" alt="">
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-600 mb-0">4. Toyota Yaris </h5>
        <h5 class="font-weight-600 mb-0 text-muted"> Standard </h5>
      </div>
      <p class="mb-0"> GLI CVT 1.3 </p>
      <div class="row align-items-center my-3">
        <div class="col-lg-7 col-md-12">
          <div class="row g-3 align-items-center">
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xDAHhzcsLTbnBRF06DOGrkLo5tr98a5Z9K03BzmM.png" alt="Doors" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/XmJC3fGkQ3877cqUUstdQfZ0mPON1BQ69kDNBhEr.png" alt="Large Bag" width="22" height="22">
              <span> 2 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/eGH9w39AAgwUO1Z561u5qDOFphMw9IiaHiSsEj2A.png" alt="Passengers" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/iYWHfFsqLpHPHa3trPMV3LN7j96mA7KVW1XQM5ds.png" alt="Transmission" width="22" height="22">
              <span> Auto</span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xQULhX92dEdsU3ZOyVRyj4rZPXIvlF44aIREDZ1t.png" alt="AC" width="22" height="22">
              <span> AC </span>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-6">
    </div>
    <hr class="d-block d-md-none mt-3">
    <div class="col-lg-6 text-end d-flex justify-content-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3">Rs 4,500/<span class="fs-6">1 day(s)</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button>
   </div>
  </div>
 </div>
</div>

<div class="detail-card card shadow-sm my-3 text-reset tablescraper-selected-row" style="margin: 0 5px;">
  <div class="row align-items-center p-2 px-lg-4 px-3">
    <div class="col-lg-3">
      <img class="img-fluid" src="https://storage.googleapis.com/bookmepk/static/images/carRental/carDetails/QEf87YyWnTGbiCuzyIag4s5fBiS0vRHgxhnJcYDg.png" alt="">
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-600 mb-0">5. Toyota Corolla </h5>
        <h5 class="font-weight-600 mb-0 text-muted"> Standard </h5>
      </div>
      <p class="mb-0"> GLi 1.3 VVTi </p>
      <div class="row align-items-center my-3">
        <div class="col-lg-7 col-md-12">
          <div class="row g-3 align-items-center">
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xDAHhzcsLTbnBRF06DOGrkLo5tr98a5Z9K03BzmM.png" alt="Doors" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/XmJC3fGkQ3877cqUUstdQfZ0mPON1BQ69kDNBhEr.png" alt="Large Bag" width="22" height="22">
              <span> 1 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/eGH9w39AAgwUO1Z561u5qDOFphMw9IiaHiSsEj2A.png" alt="Passengers" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/iYWHfFsqLpHPHa3trPMV3LN7j96mA7KVW1XQM5ds.png" alt="Transmission" width="22" height="22">
              <span> Auto</span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xQULhX92dEdsU3ZOyVRyj4rZPXIvlF44aIREDZ1t.png" alt="AC" width="22" height="22">
              <span> AC </span>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-6">
    </div>
    <hr class="d-block d-md-none mt-3">
    <div class="col-lg-6 text-end d-flex justify-content-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3">Rs 4,600/<span class="fs-6">1 day(s)</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button> 
    </div>
  </div>
 </div>
</div>   

<div class="detail-card card shadow-sm my-3 text-reset tablescraper-selected-row" style="margin: 0 5px;">
  <div class="row align-items-center p-2 px-lg-4 px-3">
    <div class="col-lg-3">
      <img class="img-fluid" src="https://storage.googleapis.com/bookmepk/static/images/carRental/carDetails/1SK0bHqaoLy7AnLXYBkvFfhQEY4Pi81gnRVYGVcP.png" alt="">
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-600 mb-0">6. Honda City </h5>
        <h5 class="font-weight-600 mb-0 text-muted"> Standard </h5>
      </div>
      <p class="mb-0"> 1.3 i-VTEC Prosmatec </p>
      <div class="row align-items-center my-3">
        <div class="col-lg-7 col-md-12">
          <div class="row g-3 align-items-center">
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xDAHhzcsLTbnBRF06DOGrkLo5tr98a5Z9K03BzmM.png" alt="Doors" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/XmJC3fGkQ3877cqUUstdQfZ0mPON1BQ69kDNBhEr.png" alt="Large Bag" width="22" height="22">
              <span> 3 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/eGH9w39AAgwUO1Z561u5qDOFphMw9IiaHiSsEj2A.png" alt="Passengers" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/iYWHfFsqLpHPHa3trPMV3LN7j96mA7KVW1XQM5ds.png" alt="Transmission" width="22" height="22">
              <span> Auto</span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xQULhX92dEdsU3ZOyVRyj4rZPXIvlF44aIREDZ1t.png" alt="AC" width="22" height="22">
              <span> AC </span>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-6">
    </div>
    <hr class="d-block d-md-none mt-3">
    <div class="col-lg-6 text-end d-flex justify-content-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3">Rs 5,000/<span class="fs-6">1 day(s)</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button>
    </div>
  </div>
 </div>
</div> 

<div class="detail-card card shadow-sm my-3 text-reset tablescraper-selected-row" style="margin: 0 5px;">
  <div class="row align-items-center p-2 px-lg-4 px-3">
    <div class="col-lg-3">
      <img class="img-fluid" src="https://storage.googleapis.com/bookmepk/static/images/carRental/carDetails/WipKr1Zn1e8FgaNB3ntcBtQj9o3rcJllzTcow4x5.png" alt="">
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-600 mb-0">7. Honda BR-V </h5>
        <h5 class="font-weight-600 mb-0 text-muted"> Comercial </h5>
      </div>
      <p class="mb-0"> i-VTEC S </p>
      <div class="row align-items-center my-3">
        <div class="col-lg-7 col-md-12">
          <div class="row g-3 align-items-center">
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xDAHhzcsLTbnBRF06DOGrkLo5tr98a5Z9K03BzmM.png" alt="Doors" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/XmJC3fGkQ3877cqUUstdQfZ0mPON1BQ69kDNBhEr.png" alt="Large Bag" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/eGH9w39AAgwUO1Z561u5qDOFphMw9IiaHiSsEj2A.png" alt="Passengers" width="22" height="22">
              <span> 7 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/iYWHfFsqLpHPHa3trPMV3LN7j96mA7KVW1XQM5ds.png" alt="Transmission" width="22" height="22">
              <span> Auto</span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xQULhX92dEdsU3ZOyVRyj4rZPXIvlF44aIREDZ1t.png" alt="AC" width="22" height="22">
              <span> AC </span>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-6">
    </div>
    <hr class="d-block d-md-none mt-3">
    <div class="col-lg-6 text-end d-flex justify-content-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3">Rs 5,899/<span class="fs-6">1 day(s)</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button> 
    </div>
  </div>
 </div>
</div> 

<div class="detail-card card shadow-sm my-3 text-reset tablescraper-selected-row" style="margin: 0 5px;">
  <div class="row align-items-center p-2 px-lg-4 px-3">
    <div class="col-lg-3">
      <img class="img-fluid" src="https://storage.googleapis.com/bookmepk/static/images/carRental/carDetails/9icUZLhKjHOg6ePbXGWO6Yw2KmTXdkOvGER2KiE9.png" alt="">
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-600 mb-0">8. Honda Civic </h5>
        <h5 class="font-weight-600 mb-0 text-muted"> Standard </h5>
      </div>
      <p class="mb-0"> Oriel 1.8 i-VTEC CVT </p>
      <div class="row align-items-center my-3">
        <div class="col-lg-7 col-md-12">
          <div class="row g-3 align-items-center">
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xDAHhzcsLTbnBRF06DOGrkLo5tr98a5Z9K03BzmM.png" alt="Doors" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/XmJC3fGkQ3877cqUUstdQfZ0mPON1BQ69kDNBhEr.png" alt="Large Bag" width="22" height="22">
              <span> 2 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/eGH9w39AAgwUO1Z561u5qDOFphMw9IiaHiSsEj2A.png" alt="Passengers" width="22" height="22">
              <span> 4 </span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/iYWHfFsqLpHPHa3trPMV3LN7j96mA7KVW1XQM5ds.png" alt="Transmission" width="22" height="22">
              <span> Auto</span>
            </div>
            <div class="col d-flex align-items-center">
              <img class="me-2" src="https://storage.googleapis.com/bookmepk/static/images/carRental/facility/xQULhX92dEdsU3ZOyVRyj4rZPXIvlF44aIREDZ1t.png" alt="AC" width="22" height="22">
              <span> AC </span>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-6">
    </div>
    <hr class="d-block d-md-none mt-3">
    <div class="col-lg-6 text-end d-flex justify-content-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3">Rs 6,499/<span class="fs-6">1 day(s)</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button> 
    </div>
  </div>
 </div>
</div> 

<!--Modals-->
<div class="modal fade" id="book" tabindex="-1" aria-labelledby="bookmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-white text-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bookmodal">Confirm Booking</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method = 'post' action='/car_booking' >
          <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Sana Salim" required>
            
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="03328774631" required>

            <label for="srno" class="form-label">Serial Number</label>
            <input type="numbers" id="srno" class="form-control" name="srno" placeholder="1, 2, 3, . ." required>

            <label for="days" class="form-label">How many day(s)?</label>
            <input type="numbers" id="days" class="form-control" name="days" placeholder="1, 2, 3, . ." required>

            {% csrf_token %}
            <button type="submit" class="btn btn-primary my-2">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div id="bottom"></div>  <footer class="card text-bg-dark mb-1" style="max-width: 85rem;">
    <div class="card-header" align="center">
      <h5>Contact Us</h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        Have any questions or need help planning your trip? Feel free to contact us!<br>
        Email: <a href="mailto:ssana.ssaa@gmail.com">ssana.ssaa@gmail.com</a><br>
        Phone: (0092) 332-8998739
      </p>
    </div>
  </footer>
{% endblock body %}