{% extends "base.html" %}
{% block title %}Hotels{% endblock title %}

{% block body %}

<div class="card text-bg-light mb-3" align= "center" style="margin: 20px 5px 0 5px;">
  <div class="card-header">Search for hotels</div>
  <div class="card-body">
    <h5 class="card-title">The Best Hotel Deals in Islamabad</h5>
    <p class="card-text">Find the best and most affordable hotel rooms. Available in our website.</p>
  </div>
</div>

<div class="detail-card hotel-card card shadow-sm my-3 text-reset">
  <div class="row p-3">
    <div class="col-md-4 col-lg-2">
      <img class="img-fluid rounded-sm" src="https://bookme.pk/images/hotels/gallery/171040164026203.jpeg" alt="">
    </div>
    <div class="col-md-8 col-lg-10">
      <div class="d-flex justify-content-between mt-3 mt-md-0">
        <h5 class="font-weight-600 mb-2">1. Canadian Inn E-11 Islamabad</h5>
      </div>
      <p class="mb-0">Street 64 unit no#308 E11/3 MPCHS, E-11 Sector, 45200 Islamabad, Pakistan</p>
      <div class="row align-items-center my-3">
        <div class="col-md-12">
          <i class="fa fa-star fa-lg text-secondary"></i>
          <i class="fa fa-star fa-lg text-secondary"></i>
          <span class="ms-2">2 Star</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2 mt-1">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-7">
      <div class="row g-2">
        <div class="col-lg">
          <div class="d-flex flex-wrap g-2 align-items-center">
            <div class="tags d-flex flex-wrap g-2 align-items-center">
              <div class="small me-1 align-items-center">
                <div class="alert p-1 px-2 alert-primary small m-1 d-inline-block" role="alert">Free Breakfast</div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-block d-lg-none mt-3">
    <div class="col-lg-5 d-flex justify-content-between justify-content-lg-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3"> Rs 6,000 / <span class="fs-6 mb-0 text-muted"> Night</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button>       
    </div>
  </div>
</div>

<div class="detail-card hotel-card card shadow-sm my-3 text-reset">
  <div class="row p-3">
    <div class="col-md-4 col-lg-2">
      <img class="img-fluid rounded-sm" src="https://bookme.pk/images/hotels/gallery/168371524755217.jpeg" alt="">
    </div>
    <div class="col-md-8 col-lg-10">
      <div class="d-flex justify-content-between mt-3 mt-md-0">
        <h5 class="font-weight-600 mb-2">2. Hotel Vista Inn</h5>
      </div>
      <p class="mb-0">C26 DHA 1 Sector -F Parking Face Zone 1 Circular Avenue Islamabad</p>
      <div class="row align-items-center my-3">
        <div class="col-md-12">
          <i class="fa fa-star fa-lg text-secondary"></i>
          <i class="fa fa-star fa-lg text-secondary"></i>
          <span class="ms-2">1 Star</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2 mt-1">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-7">
      <div class="row g-2">
        <div class="col-lg">
          <div class="d-flex flex-wrap g-2 align-items-center">
            <div class="tags d-flex flex-wrap g-2 align-items-center">
              <div class="small me-1 align-items-center">
                <div class="alert p-1 px-2 alert-primary small m-1 d-inline-block" role="alert">Free Breakfast</div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-block d-lg-none mt-3">
    <div class="col-lg-5 d-flex justify-content-between justify-content-lg-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3"> Rs 6,999 / <span class="fs-6 mb-0 text-muted"> Night</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button> 
    </div>
  </div>
</div>

<div class="detail-card hotel-card card shadow-sm my-3 text-reset">
  <div class="row p-3">
    <div class="col-md-4 col-lg-2">
      <img class="img-fluid rounded-sm" src="https://bookme.pk/images/hotels/gallery/16658287662862.jpg" alt="">
    </div>
    <div class="col-md-8 col-lg-10">
      <div class="d-flex justify-content-between mt-3 mt-md-0">
        <h5 class="font-weight-600 mb-2">3. GOHO | Safa Motel</h5>
      </div>
      <p class="mb-0">House # 64, Street 92, G-13/1 G 13/1 G-13, Islamabad, Islamabad Capital Territory 44220, Pakistan</p>
      <div class="row align-items-center my-3">
        <div class="col-md-12">
          <i class="fa fa-star fa-lg text-secondary"></i>
          <i class="fa fa-star fa-lg text-secondary"></i>
          <span class="ms-2">1 Star</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2 mt-1">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-7">
      <div class="row g-2">
        <div class="col-lg">
          <div class="d-flex flex-wrap g-2 align-items-center">
            <div class="tags d-flex flex-wrap g-2 align-items-center">
              <div class="small me-1 align-items-center">
                <div class="alert p-1 px-2 alert-primary small m-1 d-inline-block" role="alert">Free Breakfast</div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-block d-lg-none mt-3">
    <div class="col-lg-5 d-flex justify-content-between justify-content-lg-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3"> Rs 8,000 / <span class="fs-6 mb-0 text-muted"> Night</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button> 
    </div>
  </div>
</div>

<div class="detail-card hotel-card card shadow-sm my-3 text-reset">
  <div class="row p-3">
    <div class="col-md-4 col-lg-2">
      <img class="img-fluid rounded-sm" src="https://bookme.pk/images/hotels/gallery/170754917671713.jpg" alt="">
    </div>
    <div class="col-md-8 col-lg-10">
      <div class="d-flex justify-content-between mt-3 mt-md-0">
        <h5 class="font-weight-600 mb-2">4. Burj Ul Zaki</h5>
      </div>
      <p class="mb-0">House 9, Street 49, F-8/4, Islamabad</p>
      <div class="row align-items-center my-3">
        <div class="col-md-12">
          <i class="fa fa-star fa-lg text-secondary"></i>
          <i class="fa fa-star fa-lg text-secondary"></i>
          <span class="ms-2">3 Star</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2 mt-1">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-7">
      <div class="row g-2">
        <div class="col-lg">
          <div class="d-flex flex-wrap g-2 align-items-center">
            <div class="tags d-flex flex-wrap g-2 align-items-center">
              <div class="small me-1 align-items-center">
                <div class="alert p-1 px-2 alert-primary small m-1 d-inline-block" role="alert">Free Breakfast</div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-block d-lg-none mt-3">
    <div class="col-lg-5 d-flex justify-content-between justify-content-lg-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3"> Rs 12,500 / <span class="fs-6 mb-0 text-muted"> Night</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button> 
    </div>
  </div>
</div>

<div class="detail-card hotel-card card shadow-sm my-3 text-reset">
  <div class="row p-3">
    <div class="col-md-4 col-lg-2">
      <img class="img-fluid rounded-sm" src="https://bookme.pk/images/hotels/gallery/171041383077483.jpg" alt="">
    </div>
    <div class="col-md-8 col-lg-10">
      <div class="d-flex justify-content-between mt-3 mt-md-0">
        <h5 class="font-weight-600 mb-2">5. Shelton's Ambassador</h5>
      </div>
      <p class="mb-0">Block 111 West A.K, Fazl-ul-haq Rd, G-7/2 Blue Area, Islamabad, Blue Area, 44000 Islamabad, Pakistan</p>
      <div class="row align-items-center my-3">
        <div class="col-md-12">
          <i class="fa fa-star fa-lg text-secondary"></i>
          <i class="fa fa-star fa-lg text-secondary"></i>
          <span class="ms-2">3 Star</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2 mt-1">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-7">
      <div class="row g-2">
        <div class="col-lg">
          <div class="d-flex flex-wrap g-2 align-items-center">
            <div class="tags d-flex flex-wrap g-2 align-items-center">
              <div class="small me-1 align-items-center">
                <div class="alert p-1 px-2 alert-primary small m-1 d-inline-block" role="alert">Free Breakfast</div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-block d-lg-none mt-3">
    <div class="col-lg-5 d-flex justify-content-between justify-content-lg-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3"> Rs 14,000 / <span class="fs-6 mb-0 text-muted"> Night</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button> 
    </div>
  </div>
</div>

<!-- Modal-->
<div class="modal fade" id="book" tabindex="-1" aria-labelledby="bookmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-white text-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bookmodal">Confirm Booking</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method = 'post' action='/hotel_booking' >
          <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Sana Salim" required>
            
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="03328774631" required>

            <label for="srno" class="form-label">Serial Number</label>
            <input type="numbers" id="srno" class="form-control" name="srno" placeholder="1, 2, 3, . ." required>
            
            <label for="night" class="form-label">How many night(s)?</label>
            <input type="numbers" id="night" class="form-control" name="night" placeholder="1, 2, 3, . ." required>
            
            {% csrf_token %}
            <button type="submit" class="btn btn-primary my-2">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="bottom"></div>  <footer class="card text-bg-dark mb-1" style="max-width: 85rem;">
  <div class="card-header" align="center">
    <h5>Contact Us</h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      Have any questions or need help planning your trip? Feel free to contact us!<br>
      Email: <a href="mailto:ssana.ssaa@gmail.com">ssana.ssaa@gmail.com</a><br>
      Phone: (0092) 332-8998739
    </p>
  </div>
</footer>

{% endblock body %}