{% extends "base.html" %}
{% block title %}Tour Packages{% endblock title %}

{% block body %}

<div class="card text-bg-light mb-3" align= "center" style="margin: 20px 5px 0 5px;">
  <div class="card-header">Search for Planned Tours</div>
  <div class="card-body">
    <h5 class="card-title">Explore Exciting Destinations with Complete Packages</h5>
    <p class="card-text">Discover a variety of captivating places to visit, each offering unique experiences. 
      Immerse yourself in rich history, breathtaking landscapes, and vibrant cultures. </p>
  </div>
</div>

<div class="detail-card hotel-card card shadow-sm my-3 text-reset">
  <div class="row p-3">
    <div class="col-md-4 col-lg-2">
      <img class="img-fluid rounded-sm" src="https://images.unsplash.com/photo-1633938312695-e7b9a9cf50c6?q=80&w=1589&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    </div>
    <div class="col-md-8 col-lg-10">
      <div class="d-flex justify-content-between mt-3 mt-md-0">
        <h5 class="font-weight-600 mb-2">1. Full-Day Sightseeing Tour Of Islamabad</h5>
      </div>
      <p class="mb-0">6 to 8 hours</p>
      <div class="row align-items-center my-3">
        <div class="col-md-12">
          <i class="fa fa-star fa-lg text-secondary"></i>
          <i class="fa fa-star fa-lg text-secondary"></i>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2 mt-1">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-7">
      <div class="row g-2">
        <div class="col-lg">
          <div class="d-flex flex-wrap g-2 align-items-center">
            <div class="tags d-flex flex-wrap g-2 align-items-center">
              <div class="small me-1 align-items-center">
                <div class="alert p-1 px-2 alert-primary small m-1 d-inline-block" role="alert">Free cancellation</div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-block d-lg-none mt-3">
    <div class="col-lg-5 d-flex justify-content-between justify-content-lg-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3"> Rs 22,300 / <span class="fs-6 mb-0 text-muted"> Adult</span></h5> 
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button>
    </div>
  </div>
</div>

<div class="detail-card hotel-card card shadow-sm my-3 text-reset">
  <div class="row p-3">
    <div class="col-md-4 col-lg-2">
      <img class="img-fluid rounded-sm" src="https://images.unsplash.com/photo-1603998594199-804ec60de289?q=80&w=1475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    </div>
    <div class="col-md-8 col-lg-10">
      <div class="d-flex justify-content-between mt-3 mt-md-0">
        <h5 class="font-weight-600 mb-2">2. Top Ten Wonders of Islamabad Guided City Tour</h5>
      </div>
      <p class="mb-0">8 to 10 hours</p>
      <div class="row align-items-center my-3">
        <div class="col-md-12">
          <i class="fa fa-star fa-lg text-secondary"></i>
          <i class="fa fa-star fa-lg text-secondary"></i>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2 mt-1">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-7">
      <div class="row g-2">
        <div class="col-lg">
          <div class="d-flex flex-wrap g-2 align-items-center">
            <div class="tags d-flex flex-wrap g-2 align-items-center">
              <div class="small me-1 align-items-center">
                <div class="alert p-1 px-2 alert-primary small m-1 d-inline-block" role="alert">Free cancellation</div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-block d-lg-none mt-3">
    <div class="col-lg-5 d-flex justify-content-between justify-content-lg-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3"> Rs 33,000 / <span class="fs-6 mb-0 text-muted"> Adult</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button>      
    </div>
  </div>
</div>

<div class="detail-card hotel-card card shadow-sm my-3 text-reset">
  <div class="row p-3">
    <div class="col-md-4 col-lg-2">
      <img class="img-fluid rounded-sm" src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/06/70/80/a9.jpg" alt="">
    </div>
    <div class="col-md-8 col-lg-10">
      <div class="d-flex justify-content-between mt-3 mt-md-0">
        <h5 class="font-weight-600 mb-2">3. Islamabad: Half Day Private Instagram Guided City Tour</h5>
      </div>
      <p class="mb-0">6 to 8 hours</p>
      <div class="row align-items-center my-3">
        <div class="col-md-12">
          <i class="fa fa-star fa-lg text-secondary"></i>
          <i class="fa fa-star fa-lg text-secondary"></i>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2 mt-1">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-7">
      <div class="row g-2">
        <div class="col-lg">
          <div class="d-flex flex-wrap g-2 align-items-center">
            <div class="tags d-flex flex-wrap g-2 align-items-center">
              <div class="small me-1 align-items-center">
                <div class="alert p-1 px-2 alert-primary small m-1 d-inline-block" role="alert">Free cancellation</div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-block d-lg-none mt-3">
    <div class="col-lg-5 d-flex justify-content-between justify-content-lg-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3"> Rs 22,000 / <span class="fs-6 mb-0 text-muted"> Adult</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button>      
    </div>
  </div>
</div>

<div class="detail-card hotel-card card shadow-sm my-3 text-reset">
  <div class="row p-3">
    <div class="col-md-4 col-lg-2">
      <img class="img-fluid rounded-sm" src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0a/28/47/8e.jpg" alt="">
    </div>
    <div class="col-md-8 col-lg-10">
      <div class="d-flex justify-content-between mt-3 mt-md-0">
        <h5 class="font-weight-600 mb-2">4. Islamabad City Tour</h5>
      </div>
      <p class="mb-0">6 to 8 hours</p>
      <div class="row align-items-center my-3">
        <div class="col-md-12">
          <i class="fa fa-star fa-lg text-secondary"></i>
          <i class="fa fa-star fa-lg text-secondary"></i>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2 mt-1">
  <div class="row align-items-center p-2 px-lg-4 px-3 mb-2">
    <div class="col-lg-7">
      <div class="row g-2">
        <div class="col-lg">
          <div class="d-flex flex-wrap g-2 align-items-center">
            <div class="tags d-flex flex-wrap g-2 align-items-center">
              <div class="small me-1 align-items-center">
                <div class="alert p-1 px-2 alert-primary small m-1 d-inline-block" role="alert">Free cancellation</div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-block d-lg-none mt-3">
    <div class="col-lg-5 d-flex justify-content-between justify-content-lg-end align-items-center">
      <h5 class="font-weight-600 mb-0 fs-5 mx-2 me-3"> Rs 25,500 / <span class="fs-6 mb-0 text-muted"> Adult</span></h5>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#book">
        Book Now
      </button>      
    </div>
  </div>
</div>

<!--Modal-->
<div class="modal fade" id="book" tabindex="-1" aria-labelledby="bookmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-white text-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bookmodal">Confirm Booking</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method = 'post' action='/tour_booking' >
          <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Sana Salim" required>
            
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="03328774631" required>

            <label for="person" class="form-label">How many person(s)?</label>
            <input type="numbers" id="days" class="form-control" name="person" placeholder="1, 2, 3, . ." required>

            <label for="srno" class="form-label">Serial number</label>
            <input type="numbers" id="srno" class="form-control" name="srno" placeholder="1, 2, 3, . ." required>
            
            {% csrf_token %}
            <button type="submit" class="btn btn-primary my-2">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="bottom"></div>  <footer class="card text-bg-dark mb-1" style="max-width: 85rem;">
    <div class="card-header" align="center">
      <h5>Contact Us</h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        Have any questions or need help planning your trip? Feel free to contact us!<br>
        Email: <a href="mailto:ssana.ssaa@gmail.com">ssana.ssaa@gmail.com</a><br>
        Phone: (0092) 332-8998739
      </p>
    </div>
  </footer>
    
{% endblock body %}